policy_module(bitcoin, 1.100.1)

########################################
#
# Declarations
#

type telechain_t;
type telechain_exec_t;
init_daemon_domain(telechain_t, telechain_exec_t)

permissive telechain_t;

type telechain_initrc_exec_t;
init_script_file(telechain_initrc_exec_t)

type telechain_conf_t;
files_type(telechain_conf_t)

type telechain_var_lib_t;
files_type(telechain_var_lib_t)

type telechain_var_run_t;
files_type(telechain_var_run_t)

type telechain_port_t;
corenet_port(telechain_port_t)

########################################
#
# bitcoin local policy
#
allow telechain_t self:process { fork };

allow telechain_t self:fifo_file rw_fifo_file_perms;
allow telechain_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(telechain_t, telechain_conf_t, telechain_conf_t)
manage_files_pattern(telechain_t, telechain_conf_t, telechain_conf_t)

manage_dirs_pattern(telechain_t, telechain_var_lib_t, telechain_var_lib_t)
manage_files_pattern(telechain_t, telechain_var_lib_t, telechain_var_lib_t)
files_var_lib_filetrans(telechain_t, telechain_var_lib_t, { dir file })

manage_dirs_pattern(telechain_t, telechain_var_run_t, telechain_var_run_t)
manage_files_pattern(telechain_t, telechain_var_run_t, telechain_var_run_t)

sysnet_dns_name_resolve(telechain_t)
corenet_all_recvfrom_unlabeled(telechain_t)

allow telechain_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(telechain_t)
corenet_tcp_sendrecv_generic_node(telechain_t)
corenet_tcp_sendrecv_all_ports(telechain_t)
corenet_tcp_bind_generic_node(telechain_t)

gen_require(`
    type telechain_port_t;
')
allow telechain_t telechain_port_t:tcp_socket name_bind;

gen_require(`
    type telechain_port_t;
')
allow telechain_t telechain_port_t:tcp_socket name_connect;

domain_use_interactive_fds(telechain_t)

files_read_etc_files(telechain_t)

miscfiles_read_localization(telechain_t)

sysnet_dns_name_resolve(telechain_t)

allow telechain_t telechain_exec_t:file execute_no_trans;
allow telechain_t self:process setsched;
corecmd_exec_ls(telechain_t)
corenet_tcp_connect_http_port(telechain_t)
dev_read_urand(telechain_t)
fs_getattr_xattr_fs(telechain_t)
kernel_read_system_state(telechain_t)
